  .link_search {
      left: .8rem;
      @include wh(.8rem, .9rem);
      @include ct;
  }
  
  .msite_title {
      @include center;
      width: 50%;
      color: #fff;
      text-align: center;
      margin-left: -0.5rem;
      .title_text {
          @include sc(0.8rem, #fff);
          text-align: center;
          display: block;
      }
  }
  
  .shop_list_container {
      margin-top: .4rem;
      border-top: 0.025rem solid $bc;
      background-color: #fff;
      .shop_header {
          .shop_icon {
              fill: #999;
              margin-left: 0.6rem;
              vertical-align: middle;
              @include wh(0.6rem, 0.6rem);
          }
          .shop_header_title {
              color: #999;
              @include font(0.55rem, 1.6rem);
          }
      }
  }
  
  .white {
      width: 100%
  }
  
  .return_top {
      position: fixed;
      bottom: 3rem;
      right: 0;
      z-index: 9999999;
      text-align: center;
      padding: .8rem;
      .back_top_svg {
          @include wh(1.5rem, 1.5rem);
      }
  }
  
  .cover {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 9999999;
  }