.search_form {
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    input {
        height: 1.5rem;
    }
    .search_input {
        flex: 4;
        border: 1px solid #eee;
        @include sc(0.55rem, #333);
        border-radius: 0.125rem;
        background-color: #f5f5f5;
        padding: 0 0.25rem;
        text-indent: 1.5rem;
    }
    .custom-search-button {
        position: absolute;
        top: 0.72rem;
        left: 0.55rem;
        border: 0px none;
        height: 1rem;
        line-height: 1rem;
        width: 1.5rem;
        padding: 0;
        color: #fff;
        font-size: 0.6rem;
        background: #f5f5f5 url(../../images/search_icon.png) center center no-repeat;
        background-size: 0.68rem 0.68rem;
        border-radius: 0.213rem 0 0 0.213rem;
    }
    .search_submit {
        flex: 0;
        margin-left: .2rem;
        @include sc(0.6rem, #999);
        border-radius: 0.125rem;
        background-color: #f5f5f5;
        padding: 0 0.25rem;
    }
}

.title_restaurant {
    font-size: 0.6rem;
    line-height: 2rem;
    text-indent: 0.5rem;
    font-weight: bold;
    color: #666;
}

.search_history {
    .history_list {
        background-color: #fff;
        border-bottom: 0.025rem solid $bc;
        @include font(0.7rem, 2rem);
        padding: 0 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .history_text {
            display: inline-block;
            width: 80%;
        }
        .delete_icon {
            @include wh(1rem, 1rem);
        }
    }
    .clear_history {
        background-color: #fff;
        color: $blue;
        @include font(.6rem, 2rem);
        text-align: center;
    }
}

.search_none {
    margin: 0 auto;
    @include font(0.5rem, 1.75rem);
    color: #999;
    background-color: #fff;
    text-align: center;
    margin-top: 0.125rem;
}

.sc-goods-list {
    font-size: 12px;
    list-style: none;
    margin: 0;
}

.clearfix {
    zoom: 1;
}

.goods-card.card {
    padding: 5px 0px 5px 5px;
    margin-top: 5px;
    border: 1px solid #eee;
    background: #fff;
}

.goods-card {
    position: relative;
}

.photo-block {
    float: left;
    margin-right: 13px;
    width: 125px;
    height: 125px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.photo-block img {
    max-width: 125px;
    max-height: 125px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: bottom;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.goods-card .info {
    position: relative;
    height: 125px;
}

.goods-title {
    padding-top: 5px;
    padding-right: 6px;
    font-size: 14px;
    max-height: 60px;
    margin-bottom: 12px;
    line-height: 23px;
    overflow: hidden;
    color: #333;
    margin: 0px;
}

.goods-price {
    font-size: 15px;
    margin-bottom: 8px;
    position: absolute;
    left: 135px;
    bottom: 5px;
}

.goods-price>em {
    font-style: normal;
    color: #ff6600;
}

.btn1 {
    position: absolute;
    bottom: 5px;
    background-image: url(../../images/icon_gouwuche.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 10px;
    height: 23px;
    width: 26px;
    background-position: 0 0;
}

.sc-goods-list .buy-response {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 70px;
    width: 70px;
    opacity: 0;
}

.loader_more {
    @include font(0.6rem, 3);
    text-align: center;
    color: #999;
}

.empty_data {
    @include sc(0.5rem, #666);
    text-align: center;
    line-height: 2rem;
}

.return_top {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    .back_top_svg {
        @include wh(2rem, 2rem);
    }
}

.router-fade-enter-active,
.router-fade-leave-active {
    transition: all .4s;
}

.router-fade-enter,
.router-fade-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}